@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Users</h1>
<button type="button" class="btn btn-secondary" onclick="window.location.href='Users/Rules'">Rules</button>
<button type="button" class="btn btn-secondary" onclick="window.location.href='Users/Activities'">Activities</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Edit user</th>
            <th>Delete user</th>
            <th>Block/Unblock</th>
            <th><a asp-action="Create">Create user</a></th>
            <th>Validation</th>
            <th>One-time password</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { email=item.Email })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { email=item.Email })
                </td>
                <td>
                    @Html.ActionLink("Block/Unblock", "Block", new { email=item.Email })
                </td>
                <td>
                    @if (item.isBlocked) { <div>Blocked</div> }
                    @if (!item.isBlocked) { <div>-</div> }
                </td>
                <td>
                    <form asp-action="ToggleValidation" method="post">
                        <input type="hidden" name="email" value="@item.Email" />
                        <input type="checkbox" asp-for="@item.EnablePasswordValidation" onchange="this.form.submit()" />
                    </form>
                </td>
                <td>
                    @if (item.OneTimePasswordEnabled)
                    {
                        <div>One-time password generated!</div>
                    }
                    @if (!item.OneTimePasswordEnabled)
                    {
                        <form asp-action="OneTimePassword" method="post">
                            <input type="hidden" name="email" value="@item.Email" />
                            <input type="button" onclick="this.form.submit()" value="Generate password" />
                        </form>
                    }
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
