@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Edit user</th>
            <th>Delete user</th>
            <th>Block/Unblock</th>
            <th><a asp-action="Create">Create user</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { email=item.Email })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { email=item.Email })
                </td>
                <td>
                    @Html.ActionLink("Block/Unblock", "Block", new { email=item.Email })
                </td>
                <td>
                    @if (item.isBlocked) { <div>Blocked</div> }
                    @if (!item.isBlocked) { <div>-</div> }
                </td>
            </tr>
        }
    </tbody>
</table>
